
#diary_content {border: 0px #ccc solid; position: relative;float: right; width: 800px; height: 640px;}
 
  #date {font-family:'Open Sans', Arial,sans-serif;border:0px #ccc solid; float: left; width: 100%; height:40px;line-height: 40px;margin-top: 5px}
    #date a {text-decoration:none; font: 15px 'Open Sans', Arial, sans-serif; font-weight: bold }
   
 
    /* RECORD */ 
    .diary_content {float:left;min-height: 40px; border:0px #ccc solid; width:990px;padding:3px;background:#f3f3f3;}
    /*.diary-record {width: 100%; min-height: 80px; border: 1px #ccc solid; position: relative;float: left; background: #fff;margin-top: 10px } */
    .diary-record-header {color: #333; font-size: 10px; position: relative;float: left;text-align: right; width:100%; height:25px; line-height: 25px}
    .diary-record-header span {margin-right: 5px}
    .diary-record article {float:left; color:#555; width: 100%; font-size: 100%;margin-top: 3px; margin-left: 3px; min-height:30px;text-indent: 10px}
    .diary-record-footer {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25%; line-height: 25px;background: #fff}
    .diary-record-footer-location {float:left;margin-left: 5px;width: 49%; font-size: 12px;height:25px; line-height:25px;text-align: left}
    .diary-record-footer-sent-from-mobile {float:right; margin-right: 5px;width:49%; font-size: 12px;height:25%; line-height:25px;text-align: right;}

 .send_button { 

 	padding: 4px 16px;
    border-color: #1b7fcc;
    background: #1b7fcc;
    color: #fff;
    font-weight: normal;
    border: 1px #4679bd solid;
    border-radius: 2px;
    font-size: 14px;
    
    }   
    
.send_button:hover {
	background:#126db3
}

textarea {

  white-space: pre-wrap;
   word-wrap: break-word;
  resize:auto;
  cursor:auto;
  box-sizing: border-box;
  flex-direction: column;
}


 .autocomplete {
    position: absolute;
    width: 530px;
    padding: 2px;
    background: #fff;
    z-index: 3;
    display: none;
    border: 1px solid #000;
}

/*@media (min-width:481px) and (max-width:767px) {  
	#wall-comment {border: 0px #ccc solid;float:left; width:100%; height: 170px;margin-left: 5px}
	#wall-comment form {width:100%;}
	#wall-comment textarea {float:left;font-weight:bold;font-family: 'Open Sans', Arial, sans-serif;border:1px #ccc solid; padding: 5px; height:50px; width: 800px}
	.diary_content {width: 760px}
	.diary-record {width: 100%; height: 150px; border: 1px #ccc solid; position: relative;float: left; background: #fff;margin-top: 10px } 
	.diary-record-header {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}
	.diary-record article {float:left; color:#000; width: 100%; font-size: 100%;margin-top: 3px; margin-left: 3px; min-height:100px;text-indent: 10px;font-style: bold}
	.diary-record-footer {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}

}	
*/

@media only screen and (max-width:767px) {
   /* mobil*/
	
	 #date {font-family:'Open Sans', Arial,sans-serif;border:0px #ccc solid;float: left; width: 100%; height:40px;line-height: 40px;margin-top: 5px}
	
    #date a {text-decoration:none; font: 15px 'Open Sans', Arial, sans-serif; font-weight: bold }
	
	#wall-comment {border: 0px #ccc solid;float:left; width:100%; height: 130px;margin-left: 5px}
	#wall-comment textarea {float:left;font-weight:bold;font-family: 'Open Sans', Arial, sans-serif;border:1px #ccc solid; padding: 5px; height:50px; width: 100%}
	#wall-comment-marker {float:left; height: 35px; width:25px;color:#333; border:#ccc;font-size: 25px;background: #fff}
 	#wall-comment-button {float:right; border: 0px; height:60px; width: 40%;background-color: #fff }
 	#wall-comment button {float: right;margin-right: 0px;margin-top: 5px}
	
	.diary_content {width: 100%;background: #e9eaed;}
	.diary-record {width: 100%; min-height: 150px; border-top: 1px #ccc solid;border-left: 1px #ccc solid; border-right: 1px #ccc solid;position: relative;float: left; background: #fff; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12) } 
	.diary-record-header {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}
	.diary-record article {float:left;padding-bottom:5px; color:#000; width: 100%; font-size: 100%;margin-left: 3px; min-height:93px;text-indent: 10px;font-weight: bold}
	.diary-record-footer {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px;background: #fff}
    #wall-comment-loc {margin-top:0px; float:left; height:35px; line-height: 35px; text-indent: 5px; width: 47%; border-left: 0px #ccc solid; border-bottom: 0px #ccc solid; border-right:0px #ccc solid;background: #fff  }
    #wall-comment-footer {float: left;width: 100%;border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; border-right: 1px #ccc solid; background: #fff;height:35px;}
 
	 
}

@media only screen and (min-width: 768px) and (max-width: 959px){

/* mobil*/
	 #date {font-family:'Open Sans', Arial,sans-serif;border:0px #ccc solid;float: left; width: 100%; height:40px;line-height: 40px;margin-top: 5px}
    #date a {text-decoration:none; font: 15px 'Open Sans', Arial, sans-serif; font-weight: bold }
	
	#wall-comment {border: 0px #ccc solid;float:left; width:100%; height: 170px;margin-left: 5px}
	#wall-comment textarea {float:left;font-weight:bold;font-family: 'Open Sans', Arial, sans-serif;border:1px #ccc solid; padding: 5px; height:50px; width: 100%}
	#wall-comment-marker {float:left; height: 35px; width:25px;color:#333; border:#ccc;font-size: 25px}
 	#wall-comment-button {float:right; border: 0px; height:60px; width: 48% }
 	#wall-comment button {float: right;margin-right: 0px;margin-top: 5px}
	
	.diary_content {width: 950px;background: #e9eaed;}
	.diary-record {width: 100%; min-height: 150px; border: 1px #ccc solid; position: relative;float: left; background: #fff;margin-top: 10px } 
	.diary-record-header {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}
	.diary-record article {float:left; color:#000; width: 100%; font-size: 100%;margin-top: 3px; margin-left: 3px; min-height:100px;text-indent: 10px;font-style: bold;padding-bottom:10px}
	.diary-record-footer {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}

	 #wall-comment-footer {float: left;width: 100%;border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; border-right: 1px #ccc solid; background: #fff}
	 #wall-comment-loc {margin-top:0px; float:left; height:35px; line-height: 35px; text-indent: 5px; width: 45%; border-left: 0px #ccc solid; border-bottom: 0px #ccc solid; border-right:0px #ccc solid;background: #fff  }

}

@media (min-width:960px) and (max-width:1199px) { 

 #date {font-family:'Open Sans', Arial,sans-serif;border:0px #ccc solid;float: left; width: 100%; height:40px;line-height: 40px;margin-top: 5px}
    #date a {text-decoration:none; font: 15px 'Open Sans', Arial, sans-serif; font-weight: bold }
	
	#wall-comment {border: 0px #ccc solid;float:left; width:100%; height: 170px;margin-left: 5px}
	#wall-comment textarea {float:left;font-weight:bold;font-family: 'Open Sans', Arial, sans-serif;border:1px #ccc solid; padding: 5px; height:50px; width: 100%}
	#wall-comment-marker {float:left; height: 35px; width:25px;color:#333; border:#ccc;font-size: 25px;background: #fff}
 	#wall-comment-button {float:right; border: 0px; height:60px; width: 48%;background: #fff }
 	#wall-comment button {float: right;margin-right: 0px;margin-top: 5px}
	
	.diary_content {width: 100%;background: #e9eaed;}
	.diary-record {width: 100%; min-height: 150px; border: 1px #ccc solid; position: relative;float: left; background: #fff;margin-top: 10px;padding-bottom:10px;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);padding-bottom:10px  } 
	.diary-record-header {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}
	.diary-record article {float:left; color:#000; width: 100%; font-size: 100%;margin-top: 3px; margin-left: 3px; min-height:100px;text-indent: 10px;font-style: bold}
	.diary-record-footer {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}

     #wall-comment-footer {float: left;width: 100%;height:40px;border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; border-right: 1px #ccc solid; background: #fff}
     #wall-comment-loc {margin-top:0px; float:left; height:35px; line-height: 35px; text-indent: 5px; width: 49%; border-left: 0px #ccc solid; border-bottom: 0px #ccc solid; border-right:0px #ccc solid;background: #fff  }



 } /* tablet*/


@media only screen and (min-width:768px) and (max-width:1269px) {
    /* In my particular design, I used a fluid grid limited to a 
       max-width of 1140px, while (if there is enough room)
       pushing the menu outside of layout, requiring a total
       limit of at least 1270px. 

       So, this first query applies to any screen-width less
       than 1270px, and adapts accordingly. */
}

@media  (min-width:1200px) and (max-width: 1600px){
 #date {font-family:'Open Sans', Arial,sans-serif;border:0px #ccc solid;float: left; width: 100%; height:40px;line-height: 40px;margin-top: 5px}
    #date a {text-decoration:none; font: 15px 'Open Sans', Arial, sans-serif; font-weight: bold }
	
	#wall-comment {border: 0px #ccc solid;float:left; width:100%; height: 170px;margin-left: 5px}
	#wall-comment textarea {float:left;font-weight:bold;font-family: 'Open Sans', Arial, sans-serif;border:1px #ccc solid; padding: 5px; height:50px; width: 100%}
	#wall-comment-marker {float:left; margin-left: 5px ;height: 35px; width:25px;color:#333; border:#ccc;font-size: 25px;background-color: #fff}
 	#wall-comment-button {float:right; border: 0px; height:60px; width: 48%;background-color: #fff;margin-left: 5px }
 	#wall-comment button {float: right;margin-right: 0px;margin-top: 5px}
	
	.diary_content {width: 100%;background: #e9eaed;}
	.diary-record {width: 100%; min-height: 150px; border: 1px #ccc solid; position: relative;float: left; background: #fff;margin-top: 10px;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12) } 
	.diary-record-header {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}
	.diary-record article {float:left; color:#000; width: 100%; font-size: 100%;margin-top: 3px; margin-left: 3px; min-height:100px;text-indent: 10px;font-style: bold;padding-bottom:10px}
	.diary-record-footer {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}

     #wall-comment-footer {float: left;width: 100%;height:40px;border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; border-right: 1px #ccc solid; background: #fff}
     #wall-comment-loc {margin-top:0px; float:left; height:35px; line-height: 35px; text-indent: 5px; width: 49%; border-left: 0px #ccc solid; border-bottom: 0px #ccc solid; border-right:0px #ccc solid;background: #fff  }
 /*#wall-comment textarea {float:left;font-weight:bold;font-family: 'Open Sans', Arial, sans-serif;border:1px #ccc solid; border-radius: 0px; padding: 5px; height:48px; width: 978px;margin-top: 5px;}*/

}

	

@media screen and (min-width:1600px) and (max-width: 2000px) {
	 #date {font-family:'Open Sans', Arial,sans-serif;border:0px #ccc solid;float: left; width: 100%; height:40px;line-height: 40px;margin-top: 5px}
    #date a {text-decoration:none; font: 15px 'Open Sans', Arial, sans-serif; font-weight: bold }
	
	#wall-comment {border: 0px #ccc solid;float:left; width:99%; height: 150px;margin-left: 5px}
	#wall-comment textarea {float:left;font-weight:normal;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;border:1px #ccc solid; padding: 5px; height:100px; width: 100%}
	#wall-comment-marker {float:left; margin-left: 5px; height: 35px; width:25px;color:#333; border:#ccc;font-size: 25px;background: #fff}
 	#wall-comment-button {float:right; border: 0px;  margin-right: 5px; height:60px; width: 48%;background: #fff }
 	#wall-comment button {float: right;margin-right: 0px;margin-top: 5px}
	
	.diary_content {width: 99%;background: #e9eaed;}
	.diary-record {width: 100%; min-height: 90px; ;border: 1px #ccc solid; position: relative;float: left; background: #fff;margin-top: 10px;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12) } 
	.diary-record-header {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}
	.diary-record article {float:left; padding-bottom:10px;color:#000; width: 100%; font-size: 100%;margin-top: 3px; margin-left: 3px; min-height:40px;text-indent: 10px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-style: bold}
	.diary-record-footer {color: #333; font-size: 12px; float: left;text-align: right; width:100%; height:25px; line-height: 25px}

	 #wall-comment-footer {float: left;width: 100%;height:40px;border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; border-right: 1px #ccc solid; background: #fff}
	 #wall-comment-loc {margin-top:0px; float:left; height:35px; line-height: 35px; text-indent: 5px; width: 49%; border-left: 0px #ccc solid; border-bottom: 0px #ccc solid; border-right:0px #ccc solid;background: #fff  }
 /*#wall-comment textarea {float:left;font-weight:bold;font-family: 'Open Sans', Arial, sans-serif;border:1px #ccc solid; border-radius: 0px; padding: 5px; height:48px; width: 978px;margin-top: 5px;}*/

}